<ion-header>
    <ion-navbar>
      <ion-title>
        PDL
      </ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="refreshPdl()"><ion-icon name="refresh"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
  
<ion-content>
  
    <h4>{{devInfo.name}}:{{devInfo.uuid}}</h4>
    <p>{{deviceState}}</p>
    <p>{{streamState}}</p>
    <button ion-button full (click)="pairingButtonPressed($event)" color="{{pairingButtonColor}}">Pairing</button>
    
    <ion-list>
        <ion-item-sliding *ngFor="let pdlRec of pdlRecs" #item>
   
            <ion-item (click)="connectPdl(item, pdlRec)">
                <ion-icon name="call" *ngIf="pdlRec.isPhoneProvisioned" item-start></ion-icon>
                <ion-icon name="musical-notes" *ngIf="pdlRec.isMusicProvisioned" item-start></ion-icon>
                <h2>{{pdlRec.remoteDevName}}</h2>
                <h4>{{pdlRec.addr}}</h4>
                <ion-icon name="bluetooth"  *ngIf="pdlRec.isMusicConnected" item-end></ion-icon>
            </ion-item>
  
            <ion-item-options>
                <button ion-button *ngIf="!pdlRec.isMusicConnected" color="primary" (click)="connectPdl(item, pdlRec)">
                    <ion-icon name="bluetooth"></ion-icon>
                    Connect
                </button>
                <button ion-button *ngIf="pdlRec.isMusicConnected" color="primary" (click)="disconnectPdl(item, pdlRec)">
                    <ion-icon name="bluetooth"></ion-icon>
                    Disconnect
                </button>
                <button ion-button color="danger" (click)="removePdl(item, pdlRec)">
                    <ion-icon name="trash"></ion-icon>
                    Remove
                </button>
            </ion-item-options>
  
        </ion-item-sliding>
    </ion-list>
    <!-- <button ion-button (click)="rename()">device</button> -->
  </ion-content>
  